<plugin name='dbunit-operator' version='1.7' grailsVersion='2.0.0 &gt; *'>
  <author>Michael Gasche</author>
  <authorEmail>grails (at) g-stream (full-stop) ch</authorEmail>
  <title>DBUnit Operator</title>
  <description>The dbunit-operator integrates effortless and appropriate within data-source configuration and helps to create initial data within database through BootStrap.groovy with help of DbUnit. Different DbUnit dataset files (Flat or Strcutured XML) and DbUnit operations (CLEAN_INSERT, UPDATE, etc.) can be specified for different environments (See DataSource.groovy).
Furthermore, the dbunit-operator provides a simple test case 'DbUnitTestCase' (derived from GroovyTestCase) to create jUnit/DbUnit-Tests with seperate test dataset files (See MyTest.groovy).
</description>
  <documentation>http://grails.org/DbunitOperator+Plugin</documentation>
  <type>DbunitOperatorGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>Customer</resource>
    <resource>Project</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='hsqldb' name='hsqldb' version='1.8.0.10' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>