dbunit-operator/.metadata
dbunit-operator/target
dbunit-operator/target-eclipse
dbunit-operator/web-app
*.classpath*
*.project*
*.DS_Store*
*.settings*
*.link_to_grails_plugins*
*stacktrace.log*
*.class
plugin.xml
*.zip
